.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}
.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}
.modal__title {
  margin: 0;
}
.modal__close {
  position: absolute;
  right: 28px;
  top: 20px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input {
  display: block;
}
.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}
.modal__submit {
  border: none;
}
